<h1 class="center-align">Sign in</h1>
<div class="row">
  <div class="col s12 m8 l6 offset-l3 offset-m2">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <div class="input-field">
        <i class="material-icons prefix">email</i>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>

      <div class="input-field">
        <i class="material-icons prefix">vpn_key</i>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="input-field center-align">
        <%= f.submit "Sign in", class: "waves-effect waves-light btn" %>
        	<p class="center-align">New user? <%= link_to "Sign up now!", signup_path %></p>
      </div>
    
    <% end %>
  </div>
</div>