<% commentable.comments.each do |comment| %>
	<div class="row" id="comment_<%= comment.id %>">
	  <div class="col s12">
	  	<div class="col s1">
	  		<!-- image here	 -->
	  		<%= image_tag(comment.user.avatar.url, class: "circle responsive-img")%>
	  	</div>
	  	<div class="col s10">
	  		<div>
		  			<%= link_to comment.user.name, comment.user %>
		  			<span class="thin">
		  				commented <%= time_ago_in_words(comment.created_at) %> ago
		  			</span>
		  	</div>
		  	<div>
		  		<%= comment.body %>
		  	</div>	
		  	

		  	<div>
		  		<%= render 'comments/comment_form', commentable: comment %>
		  	</div>
	  	</div>
	  	<div class="col s1">
	  		<!-- delete button here -->
	  		<% if current_user?(comment.user) %>
	  			<div>
	          <%= link_to comment, method: :delete, data: { confirm: "You sure?" },
	                                                title: comment.body, 
	                                                remote: true  do %>
	            <i class="material-icons valign-wrapper">delete</i>
	          <% end %>
	  			</div>
	  			<div>
        		<%= link_to edit_comment_path(comment), commentable: comment  do%>
							<i class="material-icons valign-wrapper">edit</i>
        		<% end %>
	  			</div>
        <% end %>
	  	</div>
		  
	  </div>
	</div>
	<div class="row">
		<div class="col s10 offset-s1">
			<%= render 'comments/comments', commentable: comment %>
		</div>
	</div>
<% end %>	