<h5>Edit comment</h5>
  <div class="row">
  	<div class="col s12">
  		<%= form_for (@comment) do |f| %>
        <div class="input-field">
          <%= f.text_area :body, class: 'materialize-textarea', placeholder: 'Left your comment here' %>		
        </div>
        <button type="submit" class="btn-flat waves-effect waves-light">
        	Comment
        	<i class="material-icons right">send</i>
        </button>
      </div>
    <% end %>
  </div>
