<div class="card-panel col s12">
	<div><%= image_tag(current_user.avatar.url, class: "circle responsive-img")%></div>
	<div class="center-align">
		<%= link_to current_user.name, current_user %>
	</div>
	<div class="col s12"><%= render 'shared/stats' %></div>
</div>