<div class="row">
  <div class="col s12">
    <div class="section">
      <div class="col l2 s3">
        <%= image_tag(user.avatar.url, class: "circle responsive-img")%>
      </div>
      <div class="col l10 s9">
        <h5 class="light italic">
          <%= link_to user.name, user %>
        </h5>
      </div>
    </div>
  </div>
</div>
<div class="divider"></div>