<div class="row">
	<div class="col s12">
	  <div class="card">
	    <div class="card-content">
	      <span class="card-title">All Users</span>
	    </div>
	    <div class="card-action">
				<%= render @users %>
	    </div>
	  </div>
	</div>
</div>
