<div class="row">
  <div class="col s12 col l3">
    <!-- user card -->
    <div class="card-panel col s12">
     <%= image_tag(@user.avatar.url, class: "circle responsive-img")%>
      <div class="center-align">
        <%= link_to @user.name, @user %>
      </div>
      <div class="col s12"><%= render 'shared/stats' %></div>
    </div>
    <!-- post card -->
  </div>
  <div class="col s12 col l9">
    <!-- feed -->
    <div class="card-panel">
      <% if @users.any? %>
          <%= render @users %>
      <% else %>
        <h5 class="center-align">
          <%= link_to "Find users to follow", users_path %>
        </h5>
      <% end %>
    </div>
  </div>
</div>