<!-- users info -->
<div class="card-panel">
  <div class="row">
    <div class="col s12 m6 l3  center-align">
      <%= image_tag(@user.avatar.url, class: "circle responsive-img")%>
      <%= render 'users/follow_form' %>
    </div>
    <div class="col s12 m6 l9">
      <div class="row">
        <div class="col s12">
          <div class="section">
            <h3 class="thin"><%= @user.name %></h3>
          </div>
          <div class="section">
          <div class="divider"></div>
            <div class="col l6 s12">
              <%= render 'shared/stats' %>
            </div>
          </div>
          <!-- display post form only on current users page -->
          <% if signed_in? %>
            <% if current_user?(@user) %>
              <%= render 'posts/post_form' %>
            <% end %>
          <% end %>
        </div> 
      </div>
    </div>
  </div>
</div>

<!-- users posts -->
<div class="row">
  <% if @user.posts.any? %>
    <div class="col s12">
      <h5>Posts</h5>
      <%= render @posts %>
    </div>
  <% end %>
</div>
