<% @user ||= current_user %>
<div class="stats">
	<span class="col s6">
		<a href="<%= following_user_path(@user) %>">
			<!-- <div > -->
				<h4 id="following" class="stat thin center-align">
					<%= @user.followed_users.count %>
				</h4>
				<h6 class="center-align">
					following
				</h6>
			<!-- </div> -->
		</a>
	</span>

	<span class="col s6">
		<a href="<%= followers_user_path(@user) %>">
			<!-- <div  class="stat"> -->
				<h4 id="followers" class="stat thin center-align">
					<%= @user.followers.count %>
				</h4>
				<h6 class="center-align">
					followers
				</h6>
			<!-- </div> -->
		</a>
	</span>
</div>