<% if signed_in? %>
	<div class="row">
		<div class="col s12 col l3">
			<!-- user card -->
			<%= render 'users/user_card' %>
		<div class="card-panel col s12">
			<%= render 'posts/post_form' %>
		</div>
		</div>
		<div class="col s12 col l9">
			<!-- feed -->
				<%= render 'layouts/feed' %>
		</div>
	</div>

<% else %>
	<div class="card-panel walign-wrapper">
		<div class="center-align">
			<div class="row">
				<h1>Welcome to Blog</h1>
			</div>
			<div class="row">
				<%= link_to "Sign up", signup_path, class: "waves-effect waves-light btn" %>
			</div>	
		</div>
	</div>
<% end %>
