<div class="card col s12" <div id="post_<%= post.id %>">
  <div class="card-content">
    <!-- post here         -->
    <div class="row">
      <div class="col l1 s3">
        <%= image_tag(@user.avatar.url, class: "circle responsive-img")%>
      </div>
      <div class="col l10 s8">
        <strong>
          <span>
            <a href="<%= @user %>">
              <%= @user.name %>
            </a>
          </span>
          <span class="thin">
            posted <%= time_ago_in_words(post.created_at) %> ago
          </span>
        </strong>
        <div>
          <%= post.content %>
        </div>
        <%= render 'comments/comment_form', commentable: post %>
      </div>
      <div class="col s1">
        <% if current_user?(post.user) %>
          <div>
            <%= link_to post, method: :delete, data: { confirm: "You sure?" },
                                               title: post.content, 
                                               remote: true  do %>
              <i class="material-icons valign-wrapper">delete</i>
            <% end %>
          </div>
          <div>
            <%= link_to edit_post_path(post), commentable: post  do%>
              <i class="material-icons valign-wrapper">edit</i>
            <% end %>
          </div>
        <% end %>
      </div>
      
    </div>
    <div>
    </div>
    
  </div>
  <% if post.comments.any? %>
    <div class="card-action">
      <!-- comments here -->
      <h5>Comments</h5>
      <div class="row">
        <%= render 'comments/comments', commentable: post %>
      </div>
    </div>
  <% end %>
</div>
