<div class="col s12">
  <%= form_for(@post) do |f| %>
    <div class="row">
      <div class="input-field">
        <%= f.text_area :content, class: 'materialize-textarea' %>  
        <%= f.label :content, "What's on your mind?" %> 
      </div>
      <button type="submit" class="btn waves-effect waves-light">
        Post
        <i class="material-icons right">send</i>
      </button>
    </div>
  <% end %>
</div>