@import "materialize/components/color";
$primary-color: color("blue-grey", "darken-3") !default;
/*$secondary-color: color("yellow", "base") !default; */
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "custom";