<div class="card col s12">
  <div class="card-content">
    <!-- post here         -->
    <div class="row">
      <div class="col l2 s3">
        <%= image_tag(feed_item.user.avatar.url, class: "circle responsive-img")%>
      </div>
      <div class="col l10 s8">
        <strong><%= link_to feed_item.user.name, feed_item.user %></strong>
        <div>
          <%= feed_item.content %>
        </div>

        <div class="thin">
         <%= time_ago_in_words(feed_item.created_at) %> ago
        </div>
        <%= render 'comments/comment_form', commentable: feed_item %>
      </div>
   
      
    </div>
  </div>

  <% if feed_item.comments.any? %>
    <div class="card-action">
      <!-- comments here -->
      <h5>Comments</h5>
      <div class="row">
        <%= render 'comments/comments', commentable: feed_item %>
      </div>
    </div>
  <% end %>
</div>
