<header>
  <nav class="nav-extended">
    <div class="container">
      <div class="nav-wrapper">
        <%= link_to 'Blog', root_path, class: "brand-logo" %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "Users", users_path %></li>
          <% if signed_in? %>
          <!-- dropdown -->
          <ul id="dropdown1" class="dropdown-content">
            <li><%= link_to 'Profile', current_user %></li>
            <li><%= link_to 'Settings', edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to 'Sign out', signout_path, method: "delete" %></li>
          </ul>

          <li>
            <a class="dropdown-button" href="#!" data-activates="dropdown1">
              <i class="material-icons right">arrow_drop_down</i><%= current_user.name %>
            </a>
          </li>
          <% else %>
            <li><%= link_to 'Sign in', signin_path %></li>
          <% end %>
        </ul>

        <!-- side-nav  -->
        <ul class="side-nav" id="mobile-demo">
          <li><%= link_to "Users", users_path %></li>
        <% if signed_in? %>
          <!-- dropdown -->
            <li><%= link_to 'Profile', current_user %></li>
            <li><%= link_to 'Settings', edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to 'Sign out', signout_path, method: "delete" %></li>
          
          <% else %>
            <li><%= link_to 'Sign in', signin_path %></li>
          <% end %>
        </ul>

        
      </div>
    </div>
  </nav>
</header>

<script type="text/javascript">
   $(".button-collapse").sideNav();
</script>