<div class="row">
  <div class="col s12 m8 l6 offset-l3 offset-m2">
    <%= form_for @user, html: { multipart: true } do |f| %>

      <div class="input-field">
        <i class="material-icons prefix">account_circle</i>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="input-field">
        <i class="material-icons prefix">email</i>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>

      <div class="input-field">
        <i class="material-icons prefix">vpn_key</i>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="input-field">
        <i class="material-icons prefix"></i>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>


     
      
      <div class="input-field center-align">
        <% if signed_in? %>
           <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <%= f.file_field :avatar  %>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
          <%= f.submit "Edit profile", class: "waves-effect waves-light btn" %>
        <% else %>
          <%= f.submit "Create account", class: "waves-effect waves-light btn" %>
        <% end %>
      </div>
    
    <% end %>
  </div>
</div>